/* Please do not remove or delete this file. 
 * The purpose of this file is to keep .env local
 * so that all this information is not in the repo
 * for the anyone on the internet to access.
 */

 .env